body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_wb17_wizzypediaLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#wb17_wizzypediaLayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#wb17_wizzypediaLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-1, #wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-1, #wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   float: left;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#wb17_wizzypediaLayoutGrid1:before,
#wb17_wizzypediaLayoutGrid1:after,
#wb17_wizzypediaLayoutGrid1 .row:before,
#wb17_wizzypediaLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#wb17_wizzypediaLayoutGrid1:after,
#wb17_wizzypediaLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#wb17_wizzypediaLayoutGrid1 > .row > .col-1, #wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_wb17_wizzypediaImage1
{
   margin: 0;
   vertical-align: top;
}
#wb17_wizzypediaImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 160px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_wb17_wizzypediaHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb17_wizzypediaHeading1
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_wb17_wizzypediaText1 div
{
   text-align: justify;
}
#wb_wb17_wizzypediaText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb17_wizzypediaHeading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaHeading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb17_wizzypediaHeading3
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb17_wizzypediaTable1
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#wb17_wizzypediaTable1 td
{
   padding: 0;
}
#wb17_wizzypediaTable1 td div
{
   white-space: nowrap;
}
#wb17_wizzypediaTable1 p, #wb17_wizzypediaTable1 ul
{
   margin: 0;
   padding: 0;
}
#wb17_wizzypediaTable1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb17_wizzypediaTable1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb_wb17_wizzypediaText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_wb17_wizzypediaText4
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_wb17_wizzypediaText4 p, #wb_wb17_wizzypediaText4 ul
{
   margin: 0;
   padding: 0;
}
#wb_wb17_wizzypediaText4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText5 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText6 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb17_wizzypediaTable3
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#wb17_wizzypediaTable3 td
{
   padding: 0;
}
#wb17_wizzypediaTable3 td div
{
   white-space: nowrap;
}
#wb17_wizzypediaTable3 p, #wb17_wizzypediaTable3 ul
{
   margin: 0;
   padding: 0;
}
#wb17_wizzypediaTable3 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb17_wizzypediaTable3 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb_wb17_wizzypediaText8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText8 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_wb17_wizzypediaText7
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_wb17_wizzypediaText7 p, #wb_wb17_wizzypediaText7 ul
{
   margin: 0;
   padding: 0;
}
#wb_wb17_wizzypediaText7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#indexHeading1
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_indexHeading2
{
   text-align: left;
}
#indexTable1
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#indexTable1 td
{
   padding: 0;
}
#indexTable1 td div
{
   white-space: nowrap;
}
#indexTable1 p, #indexTable1 ul
{
   margin: 0;
   padding: 0;
}
#indexTable1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#indexTable1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb_indexHeading3
{
   text-align: left;
}
#indexTable2
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#indexTable2 td
{
   padding: 0;
}
#indexTable2 td div
{
   white-space: nowrap;
}
#indexTable2 p, #indexTable2 ul
{
   margin: 0;
   padding: 0;
}
#indexTable2 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#indexTable2 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb_page1Heading1
{
   text-align: left;
}
#wb_page1Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_page1Text1 div
{
   text-align: justify;
}
#wb_page1Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb17_wizzypediaTable2
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#wb17_wizzypediaTable2 td
{
   padding: 0;
}
#wb17_wizzypediaTable2 p, #wb17_wizzypediaTable2 ul
{
   margin: 0;
   padding: 0;
}
#wb17_wizzypediaTable2 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: top;
   font-size: 0;
}
#wb17_wizzypediaTable2 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   font-size: 0;
}
#wb17_wizzypediaTable2 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   font-size: 0;
}
#wb17_wizzypediaTable2 .cell3
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb17_wizzypediaClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#wb_wb17_wizzypediaText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FBFBFB;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText2 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb17_wizzypediaClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_wb17_wizzypediaText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText3 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#indexClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_indexText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_indexText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText2 div
{
   text-align: left;
}
#wb_indexText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#indexClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#indexClipArt3
{
   border-width: 0;
   vertical-align: top;
}
#wb_indexText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText3 div
{
   text-align: left;
}
#wb_indexText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexImage1
{
   margin: 0;
   vertical-align: top;
}
#indexImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 215px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_indexText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText4 div
{
   text-align: left;
}
#wb_indexText4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexHeading4
{
   text-align: left;
}
#page1Table1
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#page1Table1 td
{
   padding: 0;
}
#page1Table1 p, #page1Table1 ul
{
   margin: 0;
   padding: 0;
}
#page1Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: top;
   font-size: 0;
}
#page1Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   font-size: 0;
}
#page1Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb_page1Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FBFBFB;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_page1Text2 div
{
   text-align: left;
}
#wb_page1Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_page1Image1
{
   margin: 0;
   vertical-align: top;
}
#page1Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 48px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_page1Image2
{
   margin: 0;
   vertical-align: top;
}
#page1Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 48px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_indexText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText5 div
{
   text-align: left;
}
#wb_indexText5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexHeading5
{
   text-align: left;
}
#indexTable3
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#indexTable3 td
{
   padding: 0;
}
#indexTable3 p, #indexTable3 ul
{
   margin: 0;
   padding: 0;
}
#indexTable3 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: middle;
   font-size: 0;
}
#indexTable3 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 15px;
   line-height: 16.5px;
}
#indexTable3 .cell2
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb_indexImage4
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#indexImage4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#wb_indexImage5
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#indexImage5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#wb_indexImage6
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#indexImage6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#indexShape4
{
   border-width: 0;
   vertical-align: top;
}
#indexShape5
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape2
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape3
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape4
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape5
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape6
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape7
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape8
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape9
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape10
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape11
{
   border-width: 0;
   vertical-align: top;
}
#indexShape17
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape12
{
   border-width: 0;
   vertical-align: top;
}
#page1Shape13
{
   border-width: 0;
   vertical-align: top;
}
#wb_indexText6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText6 div
{
   text-align: left;
}
#wb_indexText6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexHeading6
{
   text-align: left;
}
#wb_uid61
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid51
{
   font-size: 13px;
   line-height: 16px;
}
#wb_indexHeading3
{
   display: inline-block;
   width: 100%;
   z-index: 58;
}
#wb_indexHeading2
{
   display: inline-block;
   width: 100%;
   z-index: 56;
}
#wb_indexHeading1
{
   display: inline-block;
   width: 100%;
   z-index: 55;
}
#wb_uid24
{
   color: #000000;
   font-family: "Arial";
   font-size: 19px;
}
#wb_indexHeading6
{
   display: inline-block;
   width: 277px;
   height: 37px;
   z-index: 44;
}
#wb_uid12
{
   font-size: 13px;
}
#wb_indexHeading5
{
   display: inline-block;
   width: 277px;
   height: 37px;
   z-index: 41;
}
#wb_page1Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 13;
}
#wb_page1Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 11;
}
#wb_indexHeading4
{
   display: inline-block;
   width: 100%;
   z-index: 38;
}
#wb_uid5
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb_uid60
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid23
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid13
{
   font-size: 16px;
   line-height: 18px;
}
#page1Shape9
{
   width: 10px;
   height: 10px;
}
#wb_uid4
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb_uid34
{
   color: #000000;
   font-family: "Arial";
   font-size: 19px;
}
#wb_uid22
{
   font-size: 16px;
   line-height: 18px;
}
#page1Shape8
{
   width: 10px;
   height: 10px;
}
#wb_uid10
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid3
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb_uid35
{
   list-style-type: disc;
}
#wb_uid21
{
   font-size: 13px;
   line-height: 16px;
}
#indexShape17
{
   width: 10px;
   height: 10px;
}
#wb_uid11
{
   font-size: 16px;
   line-height: 18px;
}
#page1Table1
{
   display: table;
   width: 100%;
   height: 107px;
   z-index: 39;
}
#indexClipArt1
{
   width: 30px;
   height: 30px;
}
#wb_uid2
{
   color: #000000;
   font-family: "Arial";
   font-size: 17px;
}
#wb_wb17_wizzypediaImage1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 32;
}
#wb_uid36
{
   margin: 0 0 0 24px;
}
#wb_uid20
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid16
{
   font-size: 16px;
   line-height: 18px;
}
#indexClipArt2
{
   width: 30px;
   height: 30px;
}
#wb_uid1
{
   color: #000000;
   font-family: "Arial";
   font-size: 16px;
}
#wb_uid37
{
   margin: 0 0 0 24px;
}
#wb_uid17
{
   font-size: 16px;
   line-height: 18px;
}
#wb_page1Shape12
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 25;
   position: relative;
}
#page1Shape5
{
   width: 10px;
   height: 10px;
}
#indexClipArt3
{
   width: 30px;
   height: 30px;
}
#wb_uid0
{
   position: absolute;
   left: 441px;
   top: 4287px;
   margin: 0;
   border-width: 0;
   z-index: 250;
}
#wb_uid30
{
   font-size: 13px;
   line-height: 16px;
}
#wb17_wizzypediaTable3
{
   display: table;
   width: 100%;
   height: 44px;
   z-index: 52;
}
#wb17_wizzypediaTable1
{
   display: table;
   width: 100%;
   height: 26px;
   z-index: 48;
}
#wb_uid14
{
   color: #000000;
   font-family: "Arial";
   font-size: 19px;
}
#wb_page1Shape13
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 31;
   position: relative;
}
#page1Shape4
{
   width: 10px;
   height: 10px;
}
#wb17_wizzypediaTable2
{
   display: table;
   width: 100%;
   height: 201px;
   z-index: 36;
}
#wb_uid41
{
   margin: 0 0 0 24px;
}
#wb_uid31
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid15
{
   font-size: 13px;
   line-height: 16px;
}
#page1Shape7
{
   width: 10px;
   height: 10px;
}
#wb_page1Shape7
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 30;
   position: relative;
}
#wb_page1Shape6
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 29;
   position: relative;
}
#wb_page1Shape3
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 28;
   position: relative;
}
#wb_page1Shape2
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 27;
   position: relative;
}
#wb_page1Shape8
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 23;
   position: relative;
}
#wb_page1Shape4
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 22;
   position: relative;
}
#wb_page1Shape10
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 18;
   position: relative;
}
#wb_page1Shape9
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 17;
   position: relative;
}
#wb_page1Shape5
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 16;
   position: relative;
}
#wb_uid58
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid40
{
   margin: 0 0 0 24px;
}
#wb_uid32
{
   font-size: 13px;
   line-height: 16px;
   font-weight: bold;
}
#page1Shape6
{
   width: 10px;
   height: 10px;
}
#wb_page1Shape11
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 19;
   position: relative;
}
#wb_uid59
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid43
{
   margin: 0 0 0 24px;
}
#wb_uid33
{
   font-size: 16px;
   line-height: 18px;
}
#wb_wb17_wizzypediaHeading3
{
   display: inline-block;
   width: 100%;
   z-index: 47;
}
#wb_wb17_wizzypediaHeading1
{
   display: inline-block;
   width: 100%;
   z-index: 45;
}
#page1Shape13
{
   width: 10px;
   height: 10px;
}
#wb_indexImage6
{
   display: inline-block;
   width: 34px;
   height: 34px;
   z-index: 26;
}
#page1Shape12
{
   width: 10px;
   height: 10px;
}
#wb_indexImage5
{
   display: inline-block;
   width: 34px;
   height: 30px;
   z-index: 20;
}
#page1Shape11
{
   width: 10px;
   height: 10px;
}
#page1Shape10
{
   width: 10px;
   height: 10px;
}
#wb_indexImage4
{
   display: inline-block;
   width: 34px;
   height: 34px;
   z-index: 14;
}
#wb_indexImage1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 10;
}
#wb_wb17_wizzypediaHeading2
{
   display: inline-block;
   width: 100%;
   z-index: 33;
}
#wb_uid56
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid42
{
   margin: 0 0 0 24px;
}
#wb_wb17_wizzypediaClipArt1
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 2;
   position: relative;
}
#wb_wb17_wizzypediaClipArt2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 0;
   position: relative;
}
#wb_uid57
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid45
{
   margin: 0 0 0 24px;
}
#wb_uid29
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   font-family: "Arial";
   font-size: 17px;
}
#wb_uid18
{
   font-size: 13px;
   line-height: 16px;
}
#page1Shape3
{
   width: 10px;
   height: 10px;
}
#indexTable3
{
   display: table;
   width: 100%;
   height: 102px;
   z-index: 42;
}
#wb_uid54
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#indexTable2
{
   display: table;
   width: 100%;
   height: 93px;
   z-index: 59;
}
#wb_uid44
{
   margin: 0 0 0 24px;
}
#wb_uid28
{
   margin: 0 0 0 24px;
}
#wb_uid19
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#page1Shape2
{
   width: 10px;
   height: 10px;
}
#wb_page1Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 34;
}
#wb_uid55
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#indexTable1
{
   display: table;
   width: 100%;
   height: 56px;
   z-index: 57;
}
#wb_uid47
{
   margin: 0 0 0 24px;
}
#wb_uid9
{
   font-size: 13px;
   line-height: 16px;
}
#wb_indexClipArt3
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 8;
   position: relative;
}
#wb_indexClipArt2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 6;
   position: relative;
}
#wb_indexClipArt1
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 4;
   position: relative;
}
#wb_uid52
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid46
{
   margin: 0 0 0 24px;
}
#wb_uid38
{
   margin: 0 0 0 24px;
}
#wb_uid27
{
   margin: 0 0 0 24px;
}
#wb_uid8
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid63
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid53
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid49
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid39
{
   margin: 0 0 0 24px;
}
#wb_uid26
{
   margin: 0 0 0 24px;
}
#wb_indexShape17
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 24;
   position: relative;
}
#wb_indexShape5
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 21;
   position: relative;
}
#indexShape4
{
   width: 10px;
   height: 10px;
}
#wb_indexShape4
{
   display: inline-block;
   width: 10px;
   height: 10px;
   z-index: 15;
   position: relative;
}
#wb_uid7
{
   color: #000000;
   font-family: "Arial";
   font-size: 17px;
}
#wb_uid62
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid50
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid48
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid25
{
   list-style-type: disc;
}
#indexShape5
{
   width: 10px;
   height: 10px;
}
#wb_uid6
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb17_wizzypediaClipArt1
{
   width: 30px;
   height: 30px;
}
#wb17_wizzypediaClipArt2
{
   width: 30px;
   height: 30px;
}
