body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_wb17_wizzypediaLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#wb17_wizzypediaLayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#wb17_wizzypediaLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-1, #wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-1, #wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   float: left;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#wb17_wizzypediaLayoutGrid1:before,
#wb17_wizzypediaLayoutGrid1:after,
#wb17_wizzypediaLayoutGrid1 .row:before,
#wb17_wizzypediaLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#wb17_wizzypediaLayoutGrid1:after,
#wb17_wizzypediaLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#wb17_wizzypediaLayoutGrid1 > .row > .col-1, #wb17_wizzypediaLayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_wb17_wizzypediaImage1
{
   margin: 0;
   vertical-align: top;
}
#wb17_wizzypediaImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 160px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_wb17_wizzypediaHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb17_wizzypediaHeading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_wb17_wizzypediaText1 div
{
   text-align: justify;
}
#wb_wb17_wizzypediaText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb17_wizzypediaHeading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaHeading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb17_wizzypediaHeading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb17_wizzypediaTable1
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#wb17_wizzypediaTable1 td
{
   padding: 0;
}
#wb17_wizzypediaTable1 td div
{
   white-space: nowrap;
}
#wb17_wizzypediaTable1 p, #wb17_wizzypediaTable1 ul
{
   margin: 0;
   padding: 0;
}
#wb17_wizzypediaTable1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb17_wizzypediaTable1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb17_wizzypediaClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#wb_wb17_wizzypediaText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FBFBFB;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText2 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb17_wizzypediaTable2
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#wb17_wizzypediaTable2 td
{
   padding: 0;
}
#wb17_wizzypediaTable2 p, #wb17_wizzypediaTable2 ul
{
   margin: 0;
   padding: 0;
}
#wb17_wizzypediaTable2 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: top;
   font-size: 0;
}
#wb17_wizzypediaTable2 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   font-size: 0;
}
#wb17_wizzypediaTable2 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   font-size: 0;
}
#wb17_wizzypediaClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#wb_wb17_wizzypediaText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText3 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText4
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_wb17_wizzypediaText4 p, #wb_wb17_wizzypediaText4 ul
{
   margin: 0;
   padding: 0;
}
#wb_wb17_wizzypediaText4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText5 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText6 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb17_wizzypediaTable3
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#wb17_wizzypediaTable3 td
{
   padding: 0;
}
#wb17_wizzypediaTable3 td div
{
   white-space: nowrap;
}
#wb17_wizzypediaTable3 p, #wb17_wizzypediaTable3 ul
{
   margin: 0;
   padding: 0;
}
#wb17_wizzypediaTable3 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb17_wizzypediaTable3 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#wb_wb17_wizzypediaText8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText8 div
{
   text-align: left;
}
#wb_wb17_wizzypediaText8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_wb17_wizzypediaText7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_wb17_wizzypediaText7
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_wb17_wizzypediaText7 p, #wb_wb17_wizzypediaText7 ul
{
   margin: 0;
   padding: 0;
}
#wb_wb17_wizzypediaText7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#indexHeading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_indexHeading2
{
   text-align: left;
}
#indexTable1
{
   border: 2px solid #FFFFFF;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#indexTable1 td
{
   padding: 0;
}
#indexTable1 td div
{
   white-space: nowrap;
}
#indexTable1 p, #indexTable1 ul
{
   margin: 0;
   padding: 0;
}
#indexTable1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#indexTable1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: top;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   line-height: 16px;
}
#wb_indexText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText1 div
{
   text-align: left;
}
#wb_indexText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#indexClipArt1
{
   border-width: 0;
   vertical-align: top;
}
#indexClipArt2
{
   border-width: 0;
   vertical-align: top;
}
#wb_indexText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText2 div
{
   text-align: left;
}
#wb_indexText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_indexHeading2
{
   display: inline-block;
   width: 100%;
   z-index: 22;
}
#wb_indexHeading1
{
   display: inline-block;
   width: 100%;
   z-index: 21;
}
#wb_uid24
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid12
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid5
{
   color: #000000;
   font-family: "Arial";
   font-size: 19px;
}
#wb_uid23
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid13
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid4
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb_uid34
{
   margin: 0 0 0 24px;
}
#wb_uid22
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid10
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid3
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb_uid35
{
   margin: 0 0 0 24px;
}
#wb_uid21
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid11
{
   font-size: 16px;
   line-height: 18px;
}
#indexClipArt1
{
   width: 30px;
   height: 30px;
}
#wb_uid2
{
   color: #000000;
   font-family: "Arial";
   font-size: 13px;
}
#wb_wb17_wizzypediaImage1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 8;
}
#wb_uid36
{
   margin: 0 0 0 24px;
}
#wb_uid20
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   font-family: "Arial";
   font-size: 17px;
}
#wb_uid16
{
   list-style-type: disc;
}
#indexClipArt2
{
   width: 30px;
   height: 30px;
}
#wb_uid1
{
   color: #000000;
   font-family: "Arial";
   font-size: 17px;
}
#wb_uid37
{
   margin: 0 0 0 24px;
}
#wb_uid17
{
   margin: 0 0 0 24px;
}
#wb_uid0
{
   position: absolute;
   left: 441px;
   top: 4287px;
   margin: 0;
   border-width: 0;
   z-index: 250;
}
#wb_uid30
{
   margin: 0 0 0 24px;
}
#wb17_wizzypediaTable3
{
   display: table;
   width: 100%;
   height: 44px;
   z-index: 18;
}
#wb_uid14
{
   font-size: 16px;
   line-height: 18px;
}
#wb17_wizzypediaTable1
{
   display: table;
   width: 100%;
   height: 26px;
   z-index: 14;
}
#wb17_wizzypediaTable2
{
   display: table;
   width: 100%;
   height: 137px;
   z-index: 10;
}
#wb_uid41
{
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
}
#wb_uid31
{
   margin: 0 0 0 24px;
}
#wb_uid15
{
   color: #000000;
   font-family: "Arial";
   font-size: 19px;
}
#wb_uid40
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid32
{
   margin: 0 0 0 24px;
}
#wb_uid33
{
   margin: 0 0 0 24px;
}
#wb_wb17_wizzypediaHeading3
{
   display: inline-block;
   width: 100%;
   z-index: 13;
}
#wb_wb17_wizzypediaHeading1
{
   display: inline-block;
   width: 100%;
   z-index: 11;
}
#wb_wb17_wizzypediaHeading2
{
   display: inline-block;
   width: 100%;
   z-index: 9;
}
#wb_wb17_wizzypediaClipArt1
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 2;
   position: relative;
}
#wb_wb17_wizzypediaClipArt2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 0;
   position: relative;
}
#wb_uid29
{
   margin: 0 0 0 24px;
}
#wb_uid18
{
   margin: 0 0 0 24px;
}
#wb_uid28
{
   margin: 0 0 0 24px;
}
#wb_uid19
{
   margin: 0 0 0 24px;
}
#indexTable1
{
   display: table;
   width: 100%;
   height: 56px;
   z-index: 23;
}
#wb_uid9
{
   font-size: 13px;
   line-height: 16px;
}
#wb_indexClipArt2
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 6;
   position: relative;
}
#wb_indexClipArt1
{
   display: inline-block;
   width: 30px;
   height: 30px;
   z-index: 4;
   position: relative;
}
#wb_uid38
{
   margin: 0 0 0 24px;
}
#wb_uid27
{
   margin: 0 0 0 24px;
}
#wb_uid8
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid39
{
   font-size: 13px;
   line-height: 16px;
}
#wb_uid26
{
   list-style-type: disc;
}
#wb_uid7
{
   font-size: 16px;
   line-height: 18px;
}
#wb_uid25
{
   color: #000000;
   font-family: "Arial";
   font-size: 19px;
}
#wb_uid6
{
   font-size: 13px;
   line-height: 16px;
}
#wb17_wizzypediaClipArt1
{
   width: 30px;
   height: 30px;
}
#wb17_wizzypediaClipArt2
{
   width: 30px;
   height: 30px;
}
