@-webkit-keyframes jello-horizontal
{
   0% { -webkit-transform: rotateX(0deg) ;  }
   30% { -webkit-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -webkit-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -webkit-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -webkit-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -webkit-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -webkit-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-moz-keyframes jello-horizontal
{
   0% { -moz-transform: rotateX(0deg) ;  }
   30% { -moz-transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { -moz-transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { -moz-transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { -moz-transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { -moz-transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { -moz-transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@keyframes jello-horizontal
{
   0% { transform: rotateX(0deg) ;  }
   30% { transform: rotateX(0deg) scale3d(1.25,0.75,1.0) ;  }
   40% { transform: rotateX(0deg) scale3d(0.75,1.25,1.0) ;  }
   50% { transform: rotateX(0deg) scale3d(1.15,0.85,1.0) ;  }
   65% { transform: rotateX(0deg) scale3d(0.95,1.05,1.0) ;  }
   75% { transform: rotateX(0deg) scale3d(1.05,0.95,1.0) ;  }
   100% { transform: rotateX(0deg) scale3d(1.0,1.0,1.0) ;  }
}
@-webkit-keyframes transform-wobble-top
{
   0% { -webkit-transform-origin: 0 100%; -webkit-transform: rotate(0deg) ;  }
   15% { -webkit-transform: rotate(0deg) skewX(-12deg) ;  }
   30% { -webkit-transform: rotate(0deg) skewX(10deg) ;  }
   45% { -webkit-transform: rotate(0deg) skewX(-6deg) ;  }
   60% { -webkit-transform: rotate(0deg) skewX(4deg) ;  }
   75% { -webkit-transform: rotate(0deg) skewX(-2deg) ;  }
   100% { -webkit-transform: rotate(0deg) skewX(0deg) ;  }
}
@-moz-keyframes transform-wobble-top
{
   0% { -moz-transform-origin: 0 100%; -moz-transform: rotate(0deg) ;  }
   15% { -moz-transform: rotate(0deg) skewX(-12deg) ;  }
   30% { -moz-transform: rotate(0deg) skewX(10deg) ;  }
   45% { -moz-transform: rotate(0deg) skewX(-6deg) ;  }
   60% { -moz-transform: rotate(0deg) skewX(4deg) ;  }
   75% { -moz-transform: rotate(0deg) skewX(-2deg) ;  }
   100% { -moz-transform: rotate(0deg) skewX(0deg) ;  }
}
@keyframes transform-wobble-top
{
   0% { transform-origin: 0 100%; transform: rotate(0deg) ;  }
   15% { transform: rotate(0deg) skewX(-12deg) ;  }
   30% { transform: rotate(0deg) skewX(10deg) ;  }
   45% { transform: rotate(0deg) skewX(-6deg) ;  }
   60% { transform: rotate(0deg) skewX(4deg) ;  }
   75% { transform: rotate(0deg) skewX(-2deg) ;  }
   100% { transform: rotate(0deg) skewX(0deg) ;  }
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
